// Typography
html {
  font-family: "Helvetica Neue";
}

h1 {
  font-size: 42px;
  font-weight: 300;
}
h2 {
  font-size: 40px;
  font-weight: 300;
}
h3 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.underlined {
  text-decoration: underline;
}

nav [aria-current="page"] {
  text-decoration: underline;
}
